@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-200 hover:bg-blue-600 dark:bg-gray-800 
  text-blue-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
    bg-gray-300 dark:bg-gray-900 bg-opacity-90 
    w-full h-16 
    m-0 
    shadow-lg;
  }

  .top-navigation-icon {
    @apply mr-3 ml-4
    transition duration-300 ease-in-out 
    text-gray-500 dark:text-gray-400
    cursor-pointer;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-text {
    @apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 
    mr-auto ml-20 my-auto 
    transition duration-300 ease-in-out;
  }

  .content-container {
    @apply flex flex-col 
    bg-gray-200 dark:bg-gray-900
    m-0 
    h-full w-full 
    overflow-hidden;
  }
  .content-list {
    @apply flex flex-col items-center 
    h-[calc(100vh_-_12rem)] w-full 
    ml-0 mx-auto pr-0 pl-16 pb-12 mt-4 sm:mt-16
    overflow-y-scroll;
  }
  .animation-progress {
    animation: progressBar 3s;
    animation-fill-mode: both;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode: both;
  }
  .btn {
    padding: 0.75rem 2rem;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.04),
      0 4px 6px -2px rgba(0, 0, 0, 0.02);
  }
  .card-div {
    @apply bg-gray-50 dark:bg-gray-800 p-6 rounded-lg shadow-lg w-5/6;
  }
  .skill-header-text {
    @apply leading-7 sm:truncate mb-4 text-gray-500 dark:text-gray-200;
  }
}

@tailwind utilities;

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-moz-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
